<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>About Page</h1>
    <p><a href="/">Home</a></p>
    <p>This page provides information about our system. Our system is designed to [add details about your system here, such as its purpose, functionality, etc.].</p>
</body>
</html>
